@model List<EShop.Domain.DomainModels.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Products</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>
<div class="container">
    @for(int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        @if(i%3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-3">
            <div class="card" style="width: 20rem; height: 30rem;">
                <img class="card-img-top" src="@item.ProductImage"/>
                <div class="card-body">
                        <h3 class="card-title">@item.ProductName</h3>
                        <p class="card-text">@item.ProductDescription</p>
                        <h6>Price:$ @item.ProductPrice</h6>
                </div>
                <div class="card-footer">
                    <a asp-controller="Products" asp-action="AddProductToCard" asp-route-id="@item.Id" class="btn btn-info">Add to Card</a>
                    <a asp-controller="Products" asp-action="Edit" asp-route-pid="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        @if(i%3 == 2) 
        {
            @:</div>    
        }

    }
</div>